<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872191670095-1v66h0339qc0spchh1njbnkb0g4iimrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872191670095-1v66h0339qc0spchh1njbnkb0g4iimrv</string>
	<key>API_KEY</key>
	<string>AIzaSyC2jfFzikL5_4Fzd5IbT9WY47tVD4VWIUw</string>
	<key>GCM_SENDER_ID</key>
	<string>872191670095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fiveControlWidget</string>
	<key>PROJECT_ID</key>
	<string>buugo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>buugo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872191670095:ios:c54fc1d63fc643ef53373a</string>
</dict>
</plist>